<!DOCTYPE html>
<!--
+----------------------------------------------------------------------
| yao-[ FOR SAVING TIME ].
+----------------------------------------------------------------------
| Author: yao <YaoPHP@163.com> 2016
+----------------------------------------------------------------------
-->
<html>
    <head>
        <title>YaoPHP</title>
        <meta charset="UTF-8">
    <block name="style"></block>
    </head>
    <body>
        <block name="body"></block>
    <block name="script"></block>
    </body>
</html>
