<extend name="Public/base"/>

<block name='step'>
    <li><em>1</em>服务协议</li>
    <li><em>2</em>检测环境</li>
    <li><em>3</em>创建数据</li>
    <li ><em>4</em>开始安装</li>
    <li class="current"><em>5</em>完成安装</li>
</block>

<block name="body">
    <div class="main cc">
        <div style='text-align: center;'>
            <h2 style='color: #4476A7'>恭喜，系统已经成功安装</h2>
            
        </div>
        <div style="margin: 0px auto; padding: 100px 60px 140px; text-align: left; font-size: 18px;">
            
            
            <p>为了系统安全，强烈建议把系统目录下的 install.php文件删除</p>
            <p>前台默认地址：当前域名/</p>
            <p>后台默认地址：当前域名/admin.php</p>
        </div>
        
    </div>
</block>


<block name='next'>
    <div class="bottom tac">
        <p>感谢你使用我们的产品，使用过程中遇到问题或建议请到官网反馈！</p>
    </div>
</block>