<extend name='Public:base'/>
<block name='body'>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                订单列表
                <small>Order List</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                     
                    <div class="box">
                        <ul class="nav nav-tabs">
                            <p id='meta' style='display: none'>{$meta}</p>
                            <li><a href="{:U('Order/index',array('type'=>'all'))}">全部</a></li>
                            <li><a href="{:U('Order/index',array('type'=>'success'))}">本月成交</a></li>
                            <li><a href="{:U('Order/index',array('type'=>'fail'))}">本月弃单</a></li>
                            <li><a href="{:U('Order/index')}">本月新增</a></li>
                        </ul>  
                        
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-striped">
                                <tr>
                                    <th>流水号</th>
                                    <th>订单摘要</th>
                                    <th>实付（元）</th>
                                    <th>状态</th>
                                    <th>受益人</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                <empty name='list'>
                                    <tr>
                                        <td align='center' colspan="7"><br>空空如也<br><br></td>
                                    </tr>
                                </empty>
                                <volist name="list" id="li">
                                    <tr>
                                        <td>{$li['trade_number']}</td>
                                        <td style="width: 30%;padding:10px">{$li['detail']}</td>
                                        <td>{$li['price']}</td>
                                        <td><switch name="li.status"><case value="0"><strong class="text-gray">等待付款</strong></case><case value="1"><strong class="text-success">交易成功</strong></case><default/><strong class="text-danger">交易失败</strong></switch></td>
                                        <td>{$li['email']}</td>
                                        <td>{$li['time_create']|date="m-d H:i",###}</td>
                                        <td>
                                            <eq name='li.status' value='0'>
                                                <a class="btn btn-info btn-sm" href="{:U('Order/topay',array('id'=>$li['id']))}">付款</a>
                                            <a class="btn btn-danger btn-sm" href="{:U('Order/giveUp',array('id'=>$li['id']))}" onclick="JavaScript:return confirm('确定弃单吗？')">弃单</a>
                                            </eq>
                                        </td>
                                    </tr>
                                </volist>
                            </table>
                        </div><!-- /.box-body -->
                        <div class='box-footer'>
                            <h5>共 <strong>{$count}</strong> 个 <strong>{$meta}</strong> 订单</h5>
                        </div>
                    </div><!-- /.box -->
                    <div class="page2">{$page}</div>
                </div>
            </div>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</block>

<block name='script'>
    <script src='__STATIC__js/common_yao.js' type="text/javascript"></script>
</block>